* {
    font-family: Georgia;
  }
  
  h1 {
    text-align: center;
  }
  
  .canvas-container {
    position: relative;
    top: 50px;
    float: left;
    width: 50%;
    text-align: center;
  }
  
  canvas {
    position: relative;
    left: 100px;
    height: 400px;
    background-color: black;
  }
  
  button {
    padding: 10px 10px 20px 20px;
    border-radius: 15px;
    transition-duration: 0.5ms;
  }

  .grid-container {
    position: relative;
    top: 120px;
    float: right;
    width: 40%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    grid-gap: 15px;
  }
  
  .filter {
    background-color: lightgrey;
  }

  .filter:hover {
    background-color: white;
    border: 1 px solid black;
  }

  .reset {
    background-color: red;
    color: black;
  }